nav {
    background: #2D2E2E;
    top:65px;
    height: 100vh;
    width: 17.5%;
    position: fixed;
    border-right: 1px solid #c8c7cc;
    z-index: 9;
    cursor: pointer;
    ul {
        list-style-type: none;
        padding: 0;
        margin:  0;

        li {
            //border-bottom: 1px solid #fafafa;
            a {
                color: #fff;
                padding: 10px;
                text-decoration:none;
                display: block;
                span{
                    vertical-align: super;
                    padding: 0px 10px;
                }
                i.mainListExpand{
                    float: right;
                    padding-top: 2px;
                }
            }

            .activated {
                background-color: #00a8ff;
            }

            a.subList{
                padding: 10px 20px;
            }
        }
        li.mainList{
            border-bottom: 1px solid #fafafa;
        }
    }
    
}

.header {
    background-color: #ffffff;
    height: 66px;
    position: fixed; 
    top: 0;
    width: 100%;
    border-bottom: 1px solid #c8c7cc;
    z-index: 9;
}

.logoleft {
    height: 50px;
    margin-left: 30px;
}
.navbar-brand {
    float: left;
    font-size: 33px;
    margin-left: 30px;    
}

.logout{
    float: right;
    // margin-top: -22px;
    // margin-right: 15px;
    // border-radius: 0.4rem;
}
// .ResetYourPassword{
//     float:right;
//     margin-top: 14px;
//     margin-right: 15px;
//     border-radius: 0.4rem;

// }
.dropdown-menu{
    float:right;
    margin-top: -52px;
    margin-right: 14px;
}
.mat-icon{
    font-size: 33px;
}

.log{
    float: left;
}
.icon{
    font-size: 25px;
}