<!-- <form ng-if="userCtrl.show" ng-submit="userCtrl.sendOtpToEmail()" >
  <div class="container-fluid" >
     <div class="row">
        <div class="well center-block">
           <div class="well-header">
              <p class="text-center text-info" style="font-weight: bold;font-size:18px;">{{userCtrl.notify}}</p>
              <h3 class="text-center text-success"> Reset Password
              </h3>
              <hr>
           </div>
           <div class="row">
              <div class="col-md-12 col-xs-12 col-sm-12">
                 <div class="form-group">
                    <div class="input-group">
                       <div class="input-group-addon">
                          <i class="glyphicon glyphicon-envelope"></i>
                       </div>
                       <input type="email" class="form-control" ng-model="userCtrl.email" name="email" placeholder="Email">
                    </div>
                 </div>
              </div>
           </div>
           
        </div>
     </div>
  </div>
</form> -->

<mat-card>
  <h1 mat-dialog-title>Reset Password</h1>
  <form class="example-form" [formGroup]="showResetPasswordForm" (ngSubmit)="ResetPassword()">
      <!-- <mat-form-field class="example-full-width login-form">
          <input matInput placeholder="Enter your email" formControlName="email" #paceEmail required>
          <mat-error *ngIf="this.checkform.email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field> -->
      <mat-form-field class="example-full-width login-form">
          <input matInput type="oldpassword" placeholder="OldPassword" formControlName="oldpassword" #pacePassword value="" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="this.checkform.oldpassword.invalid">{{getErrorMessagePassWord()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width login-form">
        <input matInput type="newpassword" placeholder="NewPassword" formControlName="newpassword" #pacePassword value="" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="this.checkform.newpassword.invalid">{{getErrorMessageNewPassWord()}}</mat-error>
    </mat-form-field>
    <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha>
		<button [disabled]="reactiveForm.invalid">Submit</button> -->
   <!-- <botdetect-captcha styleName="exampleCaptcha" class="captcha"></botdetect-captcha> 

      <label>
         <span>Retype the characters from the picture:</span>
         <input
           type="text"
           id="captchaCode"
           name="captchaCode"
           formControlName="captchaCode"
         >
       </label> -->
       <!-- <re-captcha (resolved)="recaptcha_callback()" siteKey="6LemHn8UAAAAAB2sCPrhjirtBe-JzvAHY1fG90lt" datacallback="recaptcha_callback()"></re-captcha> -->
      <button mat-raised-button color="primary"cdkFocusInitials >Confirm</button>
      <!-- <button mat-raised-button [disabled]="isCaptchaValidated" color="primary"cdkFocusInitials >Confirm</button> -->
  </form>
</mat-card>

<div id="overlay" *ngIf="overlays">
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value">
  </mat-progress-spinner>
</div>








